In [1]:
import pandas as pd 
from matplotlib import pyplot

In [2]:
df = pd.read_csv("bid_data.csv")

In [18]:
df['Spend'].describe()

count    129514.000000
mean          0.481951
std           9.437091
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max        1547.660000
Name: Spend, dtype: float64

In [25]:
df[df['Spend'] > 2]["Impressions"]

0        56084
1        47619
5        38654
12       37572
14       35404
         ...
10577       23
10602       16
10636       15
10665       12
10913       10
Name: Impressions, Length: 1470, dtype: int64

In [27]:
df[df['Impressions'] > 10]["Impressions"]

0        56084
1        47619
2          751
3           65
4          942
         ...
10664       12
10665       12
10670       12
10671       11
10987       12
Name: Impressions, Length: 1990, dtype: int64

In [30]:
import pandas as pd
import sqlite3

# Connect to database
conn = sqlite3.connect("ads_data.db")

# Load campaign performance CSV
performance_file = "data/Sponsored_Products_Budget_L30.csv"  # Replace with your actual file path
df = pd.read_csv(performance_file)

# Optional: clean column names
df.columns = [col.strip().replace(" ", "_").lower() for col in df.columns]

df.drop('recommended_budget', axis

,start_date,end_date,portfolio_name,program_type,campaign_name,country,status,currency,budget_amount,average_time_in_budget,...,spend,last_year_spend,cost_per_click_(cpc),last_year_cost_per_click_(cpc),7_day_total_orders_(#),total_advertising_cost_of_sales_(acos),total_return_on_advertising_spend_(roas),7_day_total_sales,estimated_missed_sales_range_min,estimated_missed_sales_range_max
0,"Dec 07, 2025","Jan 04, 2026",Home and Kitchen,Sponsored Products,UKCOMPOSTBIN - compost phrase,United States,ENABLED,USD,$90.0,100.0%,...,$662.85,NaN,$0.96,$0.0,136,17.108999999999999%,5.84,$3874.34,$0.0,$0.0
1,"Dec 06, 2025","Jan 04, 2026",Home and Kitchen,Sponsored Products,UCRAZORSAFETYSILVER - Group A | Safety Razor,United States,PAUSED,USD,$20.0,83.95%,...,$549.0,$665.88,$1.03,$0.9,107,52.03900000000001%,1.92,$1054.98,$130.0,$400.0
2,"Jan 01, 2026","Jan 04, 2026",Home and Kitchen,Sponsored Products,UKBAMBOORGANIZER5CMPT - Group A - Kitchen Draw...,United States,ENABLED,USD,$10.0,98.69%,...,$41.88,NaN,$0.81,$0.0,3,93.129%,1.07,$44.97,$5.0,$10.0
3,"Dec 06, 2025","Jan 04, 2026",Towel,Sponsored Products,UTELT4BT2754-600GMBLACK - Group C,United States,ENABLED,USD,$30.0,95.88%,...,$446.35,NaN,$1.52,$0.0,76,15.059%,6.64,$2964.02,$39.0,$110.0
4,"Dec 11, 2025","Jan 04, 2026",Towel,Sponsored Products,UTBTS700GMGREY - Group B1,United States,ENABLED,USD,$50.0,85.96%,...,$1437.83,$934.71,$1.31,$2.15,221,18.570%,5.39,$7742.95,$621.0,$1909.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2227,"Jan 02, 2026","Jan 04, 2026",Garments Team,Sponsored Products,NYTTACTICALPOLOMEN1PC - Polo Shirts For Men,United States,ENABLED,USD,$20.0,100.0%,...,$60.69,NaN,$1.41,$0.0,9,76.910%,1.30,$78.91,$0.0,$0.0
2228,"Jan 02, 2026","Jan 04, 2026",Garments Team,Sponsored Products,NYTTACTICALPOLOMEN1PC - Mens Polo Shirts,United States,ENABLED,USD,$15.0,100.0%,...,$45.29,NaN,$1.03,$0.0,3,101.88999999999998%,0.98,$44.45,$0.0,$0.0
2229,"Jan 03, 2026","Jan 04, 2026",Garments Team,Sponsored Products,NYTRUNSHOESMEN - BM - (running shoes for men),United States,ENABLED,USD,$20.0,0.0%,...,$33.14,NaN,$0.69,$0.0,3,44.204%,2.26,$74.97,NaN,NaN
2230,"Jan 03, 2026","Jan 04, 2026",Garments Team,Sponsored Products,NYTRUNSHOESMEN - Group A - (running shoes for ...,United States,ENABLED,USD,$20.0,0.0%,...,$8.68,NaN,$0.72,$0.0,0,0.000%,0.00,$0.0,NaN,NaN
2231,"Jan 04, 2026","Jan 04, 2026",Garments Team,Sponsored Products,NYTRUNSHOESMEN - Catch All,United States,ENABLED,USD,$10.0,0.0%,...,$0.31,NaN,$0.31,$0.0,0,0.000%,0.00,$0.0,NaN,NaN

In [43]:
df['average_time_in_budget']

0       100.0%
1       83.95%
2       98.69%
3       95.88%
4       85.96%
         ...
2227    100.0%
2228    100.0%
2229      0.0%
2230      0.0%
2231      0.0%
Name: average_time_in_budget, Length: 2232, dtype: object

In [36]:
cursor = conn.cursor()
cursor.execute(f"PRAGMA table_info(CampaignPerformance);")
columns = [col[1] for col in cursor.fetchall()]

In [37]:
columns

['campaign_name',
 'start_date',
 'end_date',
 'impressions',
 'last_year_impressions',
 'clicks',
 'last_year_clicks',
 'click-thru_rate_(ctr)',
 'spend',
 'last_year_spend',
 'cost_per_click_(cpc)',
 'last_year_cost_per_click_(cpc)',
 '7_day_total_orders_(#)',
 'total_advertising_cost_of_sales_(acos)',
 'total_return_on_advertising_spend_(roas)',
 '7_day_total_sales']

In [39]:
def add_average_time_column(db_path):
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()

    try:
        cursor.execute("""
            ALTER TABLE CampaignPerformance
            ADD COLUMN average_time_in_budget REAL;
        """)
        conn.commit()
        print("Column average_time_in_budget added successfully.")
    except sqlite3.Error as e:
        # Column probably already exists
        print(f"SQLite info: {e}")
    finally:
        conn.close()
add_average_time_column("ads_data.db")

Column average_time_in_budget added successfully.

In [40]:
def update_average_time_in_budget(db_path, df):
    """
    Updates CampaignPerformance.average_time_in_budget
    using values from a pandas DataFrame.
    """
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()

    try:
        for _, row in df.iterrows():
            cursor.execute("""
                UPDATE CampaignPerformance
                SET average_time_in_budget = ?
                WHERE campaign_name = ?
            """, (
                row['average_time_in_budget'],
                row['campaign_name']
            ))

        conn.commit()
        print(f"Updated average_time_in_budget for {cursor.rowcount} rows.")

    except sqlite3.Error as e:
        print(f"Database error: {e}")

    finally:
        conn.close()
update_average_time_in_budget('ads_data.db', df)

Updated average_time_in_budget for 1 rows.